:root {
	--clr-primary-introbg: hsl(217, 28%, 15%);
	--clr-primary-mainbg: hsl(218, 28%, 13%);
	--clr-primary-footerbg: hsl(216, 53%, 9%);
	--clr-primary-900: hsl(219, 30%, 18%);
	--clr-accent-cyan: hsl(176, 68%, 64%);
	--clr-accent-blue: hsl(198, 60%, 50%);
	--clr-accent-red: hsl(0, 100%, 63%);
	--ff-primary: 'Raleway', sans-serif;
	--ff-secondary: 'Open Sans', sans-serif;
}

.attribution {
	font-size: 11px;
	text-align: center;
	background-color: var(--clr-primary-mainbg);
	color: var(--clr-accent-blue);
}

.attribution a {
	color: whitesmoke;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--clr-primary-footerbg);
}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin-left: 230px;
	background-color:var(--clr-primary-mainbg);
}

p {
	color: whitesmoke;
}

.header {
	display: flex;
		margin-top: 50px;
	justify-content: space-between;
	align-items: center;
}

.logo {
	align-items: left;
	margin-left: 25px;
}

.button {
	padding: 10px;
	cursor: pointer;
	margin-right: 25px;
}

.button .btn-menu {
	margin: 25px;
	background-color: var(--clr-primary-mainbg);
	border: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}



/* Section 1 */

.wrapper .hero .hero-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1440px;
	padding-bottom: 100px;
	position: relative;
	background-color: 
	}

.img {
	max-width: 740px;
	width: 100%;
	height: auto;
	margin: 120px auto 0;
}

.tittle {
	color: whitesmoke;
	font-family: var(--ff-primary);
	max-width: 1440px;
	font-size: 40px;
	text-align: center;
	padding: 50px 0;
}

.text {
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	color: whitesmoke;
	font-family: var(--ff-secondary);
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
}

.text.text-spacing {
	padding-bottom: 50px;
}


button.getstarted {
	border: none;
	border-radius: 50px;
	padding: 20px 30px;
	cursor: pointer;
	transition: background-color 0.3s;
	max-width: 350px;
	align-items: center;
	margin: 0 auto;
	background-color: var(--clr-accent-blue);
	color: whitesmoke;
	font-family: var(--ff-primary);
	width: 250px;
	font-weight: bold;
	font-size: 15px;
}

.getstarted:hover {
	background-color: whitesmoke;
	color: var(--clr-accent-blue)
}

.hero {
	position: relative;
	z-index: 0;
}

.photoback {
	position: absolute;
	background-color: var(--clr-primary-mainbg);
	max-height: 400px;
	max-width: 1440px;
	z-index: 10;
	bottom: 180px;
	left: 0
}

.imgback {
	position: absolute;
	bottom: -250px;
	left: 0;
	max-width: 100%;
	height: auto;
	z-index: -1;
}

/* Section 2 */

.groupe1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: var(--clr-primary-mainbg);
	padding-top: 100px;
		
}

.card1 {
	flex: 1;
	align-items: center;
	max-width: 400px;
	height: 200px;
	margin: 0 50px;
		
}

.logo1 {
margin-bottom: 25px;
margin-left: 140px;
	
}

.h1 {
	font-family: var(--ff-primary);
	text-align: center;
	color: whitesmoke;
	font-size: 20px;
}

.p1 {
	font-family: var(--ff-secondary);
	text-align: center;
	font-size: 14px;
    margin: 0 auto;
	line-height: 1.5;
	padding-top: 10px;
}

.card2 {
	flex: 1;
	align-items: center;
	max-width: 400px;
	height: 200px;
	margin: 0 50px;
	
}

.logo2 {
	margin-bottom: 15px;
	margin-left: 140px;
}

.h2 {
	font-family: var(--ff-primary);
	text-align: center;
	color: whitesmoke;
	font-size: 20px;
}

.p2 {
	font-family: var(--ff-secondary);
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
	line-height: 1.5;
	padding-top: 10px;

}

.groupe2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: var(--clr-primary-mainbg);
	margin-top: 150px;
	margin-bottom: 100px;
}

.card3 {
	flex: 1;
	align-items: center;
	max-width: 400px;	
	height: 200px;
	margin: 0 50px;

}

.logo3 {
	align-items: center;
	margin-bottom: 25px;
	margin-left: 140px;?
}

.h3 {
	font-family: var(--ff-primary);
	text-align: center;
	color: whitesmoke;
	font-size: 20px;
}

.p3 {
	font-family: var(--ff-secondary);
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
	line-height: 1.5;
	padding-top: 10px;
}

.card4 {
	flex: 1;
	align-items: center;
	max-width: 400px;
	height: 200px;
	margin: 0 50px;
}

.logo4 {
	margin-left: 160px;
	margin-bottom: 40px;
}

.h4 {
	font-family: var(--ff-primary);
	text-align: center;
	color: whitesmoke;
	font-size: 20px;
}

.p4 {
	font-family: var(--ff-secondary);
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
	line-height: 1.5;
	padding-top: 10px;

}

/*  Section 3 */

.productive {
	display: flex;
	margin: 50px 100px;
	background-color: var(--clr-primary-mainbg);
}

.card-img {
	flex: 1;
	padding-right: 80px;
}

.card-text {
	flex: 1;
}

.cardtittle {
	font-family: var(--ff-primary);
	text-align: left;
	color: whitesmoke;
	font-size: 40px;
	padding-top: 120px;
}

p {
	font-family: var(--ff-secondary);
	text-align: left;
	font-size: 17px;
}

.link {
	padding-top: 25px;
	color: var(--clr-accent-blue);
}

/* Section 4 */

.testimonials {
	background-color: var(--clr-primary-mainbg);
	display: flex;
	align-items: center;
	margin: 200px auto;
}

#img_redonda {
	height: 25px;
	height: 25px;
	border-radius: 50%;
}

.test1 {
	max-width: 370px;
	max-height: 200px;
	margin-left: 150px;
	justify-content: space-around;
	background-color: var(--clr-primary-900);
	border-radius: 2%;
	padding: 30px 25px 15px 20px;
	box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, .3);
}

.testtexte {
	text-align: left;
	font-size: 14px;
	font-family: var(--ff-secondary);
	color: whitesmoke;
	padding-bottom: 30px;
	font-weight: lighter;
	letter-spacing: 1px;
}

.ident1 {
	display: flex;
}

.photo1 {
	margin-right: 10px;
}

.name {
	font-size: 12px;
	color: whitesmoke;
	font-family: var(--ff-primary);
}

.job {
	font-size: 10px;
	color: whitesmoke;
	font-family: var(--ff-secondary);
	font-weight: lighter;
}

.test2 {
	max-width: 370px;
	max-height: 200px;
	margin-left: 30px;
	background-color: var(--clr-primary-900);
	border-radius: 2%;
	padding: 30px 25px 15px 20px;
	box-shadow: 20px 20px 60px 25px rgba(0, 0, 0, .3);
}

.ident2 {
	display: flex;
}

.photo2 {
	margin-right: 10px;
}

.test3 {
	max-width: 370px;
	max-height: 200px;
	margin-left: 30px;
	margin-right: 150px;
	background-color: var(--clr-primary-900);
	border-radius: 2%;
	padding: 30px 25px 15px 20px;
	box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, .3);
}

.ident3 {
	display: flex;
}

.photo3 {
	margin-right: 10px;
}
@media (max-width: 900px) {


	.image {
		max-width: 400px;
		max-height: 300px;
	}

}